*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  word-break: break-all;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button:focus,
input:focus {
  outline: none;
}

strong {
  font-weight: bold;
}

.is-active {
  font-weight: bold;
}