// Colors

$purple: #8357c5;
$bg-dark-100: #20232A;
$bg-dark-50: #282C34;
$accent-color: #61dafb;
$border-color: #dbdbdb;
$text-color-100: #333;
$text-color-50: #666;

// Fonts

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;