.c-expense-list {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid $border-color;
    background-color: $bg-light-gray;
    padding: 1rem 1.6rem;
  }
}