.c-form {

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
    opacity: 1;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    font-weight: 300;
    opacity: 1;
  }

  :-ms-input-placeholder { /* IE 10+ */
    font-weight: 300;
    opacity: 1;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
    opacity: 1;
  }

  &--filters {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    flex-wrap: wrap;
  }

  &__error {
    color: red;
    font-style: italic;
    font-weight: 300;
  }

  &__control {
    border: .1rem solid $border-color;
    background-color: #fff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 400;
    padding: .6rem 1.1rem;
    min-height: 4.8rem;

    &:focus {
      outline: none;
    }
  }

  &__control--textarea {
    min-height: 15rem;
    resize: vertical;
  }
}

.c-form--stack {
  display: grid;
  gap: 1.6rem;

  .c-form__control,
  .SingleDatePicker,
  .SingleDatePickerInput,
  .DateInput {
    display: block;
    width: 100%;
  }
}